@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300;400&family=Raleway:wght@300;400&display=swap");

:root {
  --title-font-size: 35px;
  --title-font-size-sm: 22px;
  --big-title-font-size: 45px;
  --bright-orange-height: 775px;
  --main-color: #f26522;
  --second-color: #323339;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: MyriadPro;
  src: url("./assets/MyriadPro-Light.otf");
}

html {
  font-family: "Raleway", sans-serif;
}

.hero {
  background-image: url("./assets/hero.png");
  background-size: cover;
  min-height: 65vh;
  max-height: 5936px;
  background-position: center;
  position: relative;
}

nav {
  display: none;
  /* for hamburger */
  flex-direction: column;
  background-color: var(--second-color);
  position: relative;
  top: 60px;
  z-index: 1;
}

nav > a {
  /* font-family: "Raleway", sans-serif; */
  font-size: 13px;
  color: #ffffff;
  text-decoration: none;
  position: relative;
  /* for hamburger */
  font-size: 20px;
  text-align: center;
  padding: 20px 0;
  margin: auto;
}

nav > a:hover::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background-color: var(--main-color);
  bottom: 0;
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked ~ nav {
  display: flex;
}

.hamburger-menu {
  top: 30px;
  position: absolute;
  left: 30px;
  cursor: pointer;
}

.hamburger-menu div,
.hamburger-menu div::before,
.hamburger-menu div::after {
  width: 20px;
  height: 3px;
  border-radius: 1px;
  background-color: #ffffff;
  margin: 8px 0;
}

.hamburger-menu div::before {
  content: "";
  position: absolute;
  top: 8px;
}
.hamburger-menu div::after {
  content: "";
  position: absolute;
  top: -8px;
}

.hero > img {
  top: 63px;
  width: 18px;
  position: absolute;
  transform: rotate(-90deg);
  left: 72px;
}

.hero-box {
  position: absolute;
  left: 30px;
  top: 30%;
  max-width: 401px;
}

.hero-box .title {
  /* font-family: "Raleway", sans-serif; */
  font-weight: 300;
  font-size: 45px;
  line-height: 48px;
  color: #ffffff;
  max-width: 300px;
  margin-bottom: 12px;
}

.hero-box .text {
  color: #a8b2ba;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin-bottom: 15px;
  line-height: 23px;
  font-size: 15px;
}

.flex-container {
  display: flex;
  align-items: center;
}

.line {
  display: inline-block;
  margin-bottom: 26px;
  width: 18px;
  height: 2px;
  background-color: #ffffff;
  transform: translateY(15px);
  margin-right: 72px;
}

.line:nth-last-of-type(1) {
  display: block;
  background-color: #6d6d6d;
}

.circle-border-arrows {
  position: relative;
  bottom: -50px;
}

.circle-border-arrows img {
  width: 35px;
  margin-right: 8px;
}

.bright-orange-layout .intro {
  background-color: var(--main-color);
  color: #ffffff;
  padding: 30px;
  /* font-family: "Raleway", sans-serif; */
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.16);
}

.bright-orange-layout .intro .title,
.bright-orange-layout .content .title,
.contact-form .title,
.grid-container div,
.country > .title {
  font-weight: 300;
  font-size: var(--title-font-size-sm);
}

.bright-orange-layout .text {
  font-size: 13px;
  margin-top: 30px;
  font-family: "Open Sans", sans-serif;
}

.bright-orange-layout > img {
  width: 100%;
  /* max-height: calc(var(--bright-orange-height) / 2); */
  object-fit: cover;
}

.bright-orange-layout .content {
  padding: 30px;
  height: fit-content;
}

.bright-orange-layout .content .title {
  max-width: 517px;
  /* font-family: "Raleway", sans-serif; */
  color: #3a4d69;
}

.bright-orange-layout .content .text {
  color: #83969f;
  max-width: 625px;
}

.bright-orange-layout .content .share {
  margin-top: 40px;
  display: flex;
}

.bright-orange-layout .content .share div {
  font-family: "Montserrat", sans-serif;
  text-decoration: underline;
  color: #cfcfcf;
  font-size: 12px;
  margin-left: 14px;
}

.country {
  padding: 30px;
}

.country > .title {
  /* font-family: "Raleway", sans-serif; */
  font-weight: 300;
  color: #3a4d69;
}

.country .group-text > .text {
  margin-top: 20px;
  color: #83969f;
  font-size: 14px;
  max-width: 636px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 24px;
}

.country .group-text > .text:first-child {
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  color: #b6b6b6;
}

.words-and-such {
  background-image: url("./assets/word-and-such.png");
  max-height: 818px;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px;
  padding-bottom: 0;
}

.words-and-such .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.grid-container div {
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: var(--main-color);
  /* font-family: "Raleway", sans-serif; */
  color: #ffffff;
  height: 100%;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.grid-container img {
  grid-column-start: 2;
  grid-column-end: 3;
}

.words-and-such-content {
  background-color: var(--main-color);
  padding: 30px;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.words-and-such-content .group-text {
  display: grid;
  row-gap: 20px;
}

.group-text > .text {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.contact-form {
  background-color: var(--second-color);
  padding: 30px;
}

.contact-form .title {
  color: #ffffff;
  /* font-family: "Raleway", sans-serif; */
}

.contact-form .group-input {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.contact-form .group-input input,
.contact-form .group-input button {
  margin-bottom: 15px;
  outline: none;
  border-radius: 2px;
  font-family: "Montserrat", sans-serif;
}

.contact-form .group-input input {
  min-height: 40px;
  border: none;
  padding-left: 15px;
  font-size: 12px;
  color: #83969f;
}

.contact-form .group-input button {
  width: fit-content;
  padding: 10px;
  background: var(--second-color);
  color: #ffffff;
  font-size: 15px;
  border: 1px solid #ffffff;
}

.decoration {
  background-image: url("./assets/decor.png");
  background-repeat: no-repeat;
  min-height: 30vh;
  background-size: cover;
}

footer {
  background-color: var(--second-color);
  padding: 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.links .link-item {
  width: 40%;
  margin-bottom: 20px;
}

.links .link-item div:first-child {
  color: var(--main-color);
  margin-bottom: 12px;
}

.links .link-item a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  margin-bottom: 12px;
}

footer > div:last-child {
  font-size: 12px;
  color: #494a56;
  font-family: MyriadPro, sans-serif;
}

@media (min-width: 768px) {
  .hero {
    background-position: initial;
  }

  nav {
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 20px;
    right: 0;
    left: 0;
    display: none;
    flex-direction: row;
    background-color: transparent;
  }

  .hero nav a {
    font-size: 13px;
    padding: 0;
    padding-bottom: 11px;
    margin: 0;
  }

  nav {
    left: 80px;
    width: 430px;
    justify-content: space-between;
    display: flex;
  }

  .hero > img {
    right: 55px;
    transform: rotate(0);
    left: auto;
  }

  .hamburger-menu {
    display: none;
  }

  .hero-box {
    left: 80px;
  }

  .bright-orange-layout .intro .title,
  .bright-orange-layout .content .title,
  .contact-form .title,
  .grid-container div,
  .country > .title {
    font-size: var(--title-font-size);
  }

  .bright-orange-layout .content,
  .country,
  footer {
    padding: 80px;
  }

  footer {
    padding-left: 110px;
  }

  .bottom .content {
    padding-left: 110px;
  }

  .bright-orange-layout .intro {
    padding-top: 65px;
    padding-left: 80px;
    padding-right: 47px;
  }

  .bottom .intro {
    padding-left: 110px;
  }

  .group-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 15px;
  }

  .group-text .text {
    width: 48%;
  }

  .words-and-such {
    padding: 0;
  }

  .words-and-such .grid-container {
    grid-template-columns: auto 1fr;
    grid-template-rows: 0.5fr;
    padding-top: 80px;
  }

  .grid-container img {
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .grid-container div,
  .grid-container img {
    max-width: 300px;
  }

  .grid-container div {
    padding: 40px 30px;
  }

  .words-and-such-content .group-text {
    grid-template-columns: 1fr 1fr;
    column-gap: 82px;
    max-width: 1120px;
  }

  .words-and-such-content .group-text .text {
    width: 100%;
  }

  .words-and-such-content {
    margin-left: 80px;
    padding-left: 30px;
    padding-bottom: 65px;
    padding-top: 103px;
  }

  .contact-form,
  .words-and-such .grid-container {
    margin-left: 80px;
  }

  .contact-form .group-input {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 868px;
  }

  .contact-form .group-input input,
  .contact-form .group-input button {
    max-width: 195px;
    width: 40%;
  }

  .contact-form .group-input input {
    margin-right: 9px;
  }
}

@media (min-width: 1024px) {
  .hero {
    height: 1243px;
    background-position: initial;
  }

  nav {
    justify-content: space-between;
    left: 174px;
    top: 76px;
    width: 430px;
  }

  .hero > img {
    right: 55px;
  }

  .hero-box {
    left: 175px;
    top: 517px;
  }

  .circle-border-arrows img {
    width: 52px;
  }
}

@media (min-width: 1140px) {
  .circle-border-arrows {
    bottom: -110px;
  }

  .bright-orange-layout {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    margin-left: min(30%, 437px);
    transform: translateY(-50%);
    max-height: var(--bright-orange-height);
  }

  .bright-orange-layout .intro {
    grid-row-start: 1;
    grid-row-end: 3;
    max-width: 388px;
    height: var(--bright-orange-height);
    padding-left: 46px;
  }

  .bright-orange-layout .content {
    background-color: #ffffff;
    height: 100%;
    padding-top: 77px;
    padding-left: 53px;
  }

  .country {
    margin-top: calc(var(--bright-orange-height) / -2 + 100px);
    padding: 0;
    max-width: 1180px;
    margin-left: 210px;
    margin-bottom: 80px;
  }

  .grid-container div,
  .grid-container img {
    max-width: 459px;
    /* width: 80%; */
  }

  .grid-container div {
    font-size: 60px;
    padding-top: 99px;
    padding-left: 60px;
  }

  .words-and-such .grid-container {
    grid-template-columns: minmax(0, 459px) minmax(0, 459px);
    grid-template-rows: 0.5fr 1fr;
  }

  section.group-text {
    column-gap: 82px;
    padding: 102px 210px 65px 58px;
  }

  .words-and-such .grid-container,
  .words-and-such-content,
  .contact-form,
  .decoration,
  .bottom {
    margin-left: 210px;
  }

  .contact-form {
    padding-top: 45px;
    padding-left: 61px;
  }

  .contact-form .group-input {
    flex-wrap: nowrap;
  }

  .contact-form .group-input button,
  .contact-form .group-input input {
    padding-top: 20px;
    padding-bottom: 20px;
    flex-grow: 1;
  }

  .contact-form .group-input input:nth-last-of-type(1) {
    flex-grow: 2;
    max-width: none;
  }

  .contact-form .group-input button {
    max-width: 154px;
  }

  .contact-form .group-input input {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .decoration {
    min-height: 45vh;
  }

  .bright-orange-layout.bottom {
    margin-right: max(5%, 211px);
    transform: translateY(-25%);
  }

  footer {
    margin-top: calc(((var(--bright-orange-height)) * -1 / 4));
    padding-left: 210px;
    font-size: 12px;
  }

  footer .links {
    max-width: 745px;
    flex-wrap: nowrap;
  }

  footer > div:last-child {
    max-width: 745px;
  }
}
