@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

:root {
  --main-color: #15032a;
  --hamburger-color: #140327;
  --white-color: #ffffff;
  --slide-title-color: #0c2539;
  --slide-text-color: #677278;
}

@font-face {
  font-family: "MuseoSansRounded";
  src: url("./assets/fonts/museo-sans-rounded/MuseoSansRounded-700.ttf");
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--main-color);
  font-weight: 400;
}

.hamburger-menu {
  cursor: pointer;
  padding: 20px;
  background-color: var(--hamburger-color);
  width: fit-content;
  position: relative;
  z-index: 1;
}

.hamburger-menu div,
.hamburger-menu div::before,
.hamburger-menu div::after {
  width: 20px;
  height: 3px;
  border-radius: 1px;
  background-color: #ffffff;
}

.hamburger-menu div {
  position: relative;
  margin: 6px 0;
}

.hamburger-menu div::before {
  content: "";
  position: absolute;
  top: 6px;
}

.hamburger-menu div::after {
  content: "";
  position: absolute;
  top: -6px;
}

nav ul {
  position: absolute;
  left: 60px;
  right: 0;
  top: 0;
  background-color: var(--main-color);
  z-index: 2;
  height: calc(70vh + 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;
}

nav ul.active {
  display: flex;
}

nav li {
  color: var(--white-color);
  font-size: 30px;
  margin-bottom: 30px;
  cursor: pointer;
  position: relative;
}

nav li:hover::before {
  width: 100%;
}

nav li::before {
  content: "";
  position: absolute;
  width: 0;
  left: 0;
  bottom: -5px;
  height: 4px;
  background-color: #6f0642;
  transition: width 0.3s ease-in;
}

.hero {
  position: relative;
  user-select: none;
  height: 70vh;
}

.hero .left {
  transform: rotate(-90deg);
  transform-origin: bottom right;
  position: absolute;
  top: -60px;
  left: calc(-70vh + 60px);
  background-color: var(--main-color);
  width: 70vh;
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: center;
}

.hero .left .text {
  color: white;
}

.hero .left .text:nth-last-of-type(2),
.second-hero .left .text:nth-last-of-type(2) {
  font-size: 12px;
  font-weight: 400;
  line-height: 40;
  margin-left: 70px;
}

.hero .left .text:nth-last-of-type(1),
.second-hero .left .text:nth-last-of-type(1) {
  font-size: 10px;
  color: #b5bbc4;
  font-weight: 400;
  line-height: 40;
  margin-left: 10px;
}

.hero .left img {
  transform: rotate(90deg);
}

.hero .right {
  position: relative;
  width: calc(100% - 60px);
  left: 60px;
  top: -60px;
  background-image: url("./assets/images/bg.png");
  height: calc(70vh + 60px);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: drop-shadow(
    0 0 8px black
  ); /* webkit only 
  assuming the content is written in black */
  filter: drop-shadow(0 0 8px black); /* FF~35 */
  filter: drop-shadow(0 0 0 8px black);
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: var(--white-color);
}

.hero .right > img {
  display: none;
  position: absolute;
  top: 45px;
  right: 51px;
}

.hero .right .date {
  display: none;
  position: absolute;
  right: 5%;
  bottom: 10%;
}

.hero-box-first {
  margin-left: 20px;
  /* max-width: 1050px; */
}

.hero-box-second {
  max-width: 524px;
  margin-left: 20px;
}

.hero .right .hero-box {
  width: 90%;
  max-width: 532px;
}

.hero .right .hero-box-first h3,
.second-hero .hero-box-first h3 {
  font-weight: 700;
  font-size: 46px;
  line-height: 50px;
}

.hero .right .hero-box-second h4 {
  margin-top: 15px;
  font-weight: 700;
  font-size: 24px;
  line-height: 25px;
}

.hero .right .hero-box-second div {
  margin-top: 5px;
  font-weight: 400;
  font-size: 13px;
  line-height: 25px;
}

.hero .dots,
.second-hero .dots {
  position: absolute;
  bottom: 40px;
  right: 5%;
}

.second-hero .dots {
  display: none;
}

.hero .dots div,
.hero .dots div::before,
.hero .dots div::after,
.second-hero .dots div,
.second-hero .dots div::before,
.second-hero .dots div::after {
  width: 8px;
  height: 8px;
  background-color: var(--white-color);
  border-radius: 50%;
}

.hero .dots div::before,
.hero .dots div::after,
.second-hero .dots div::before,
.second-hero .dots div::after {
  content: "";
  position: absolute;
}

.hero .dots div::before,
.second-hero .dots div::before {
  left: -12px;
}

.hero .dots div::after,
.second-hero .dots div::after {
  left: -24px;
}

.carousel > .carousel-header {
  display: none;
}

.carousel-container {
  margin-top: 13px;
  overflow: auto;
}

/* width */
.carousel-container::-webkit-scrollbar {
  display: none;
}

.slide {
  margin: 20px;
  display: inline-block;
  width: 310px;
}

.slide .top::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid var(--main-color);
  bottom: -16px;
}

.slide .top::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 10px solid #000000;
  bottom: -2px;
  left: 8px;
  transform: rotate(-20deg);
}

.slide .top {
  position: relative;
}

.slide .top img {
  width: 100%;
}

.slide .top .favor {
  position: absolute;
  color: var(--white-color);
  display: flex;
  font-family: "MuseoSansRounded";
  align-items: center;
  right: 15px;
  bottom: 20px;
}

.slide .top .favor div {
  margin-left: 4px;
}

.slide .bottom {
  background-color: var(--white-color);
  font-family: "Montserrat";
  margin-top: -4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slide .card-header {
  padding: 30px 20px;
}

.slide .card-header div {
  font-size: 30px;
  color: var(--slide-title-color);
  margin-bottom: 10px;
}

.slide .card-header p {
  color: var(--slide-text-color);
  line-height: 25px;
}

.slide .card-footer {
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #f5f5f5;
  align-items: center;
  height: 64px;
}

.slide .card-footer .comment {
  display: flex;
  align-items: center;
  color: var(--slide-title-color);
  height: 100%;
  padding-right: 20px;
  border-right: 1px solid #f5f5f5;
}

.slide .card-footer .comment img {
  width: 32px;
  height: 29px;
  margin-right: 15px;
}

.slide .card-footer .dots {
  display: flex;
  background-color: #f5f5f5;
  width: 64px;
  cursor: pointer;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.slide .card-footer .dots div {
  width: 8px;
  height: 8px;
  background-color: var(--slide-title-color);
  border-radius: 50%;
}

.slide .card-footer .dots div:nth-last-of-type(2) {
  margin: 0 4px;
}

.previous,
.next {
  display: none;
}

.previous {
  transform: rotate(180deg);
}

.first-carousel .carousel-header,
.first-carousel .background {
  display: none;
}

.second-hero .left {
  display: none;
}

.second-hero .right {
  height: 70vh;
  background-image: url("./assets/images/Clip.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: var(--white-color);
  position: relative;
}

.second-hero .right .hero-box-first {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  margin: 0;
  position: relative;
  max-width: 420px;
  margin: auto;
}

.second-hero .right .hero-box-first span {
  position: absolute;
  font-weight: 400;
  font-size: 28px;
  font-family: sans-serif;
  border: 4px solid var(--white-color);
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  padding: 3px;
}

.second-hero .date {
  display: none;
}

.second-hero .hero-box-second {
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 40px;
  margin: auto;
  max-width: unset;
  right: 0;
}

.second-hero .hero-box-second .wrapper {
  margin: auto;
  max-width: 532px;
}

.second-hero .hero-box-second h4 {
  margin-top: 15px;
  font-weight: 700;
  font-size: 24px;
  line-height: 25px;
}

.second-hero .hero-box-second div {
  margin-top: 5px;
  font-weight: 400;
  font-size: 13px;
  line-height: 25px;
}

.second-hero .right img {
  display: none;
}

.main-content {
  padding: 30px;
  color: var(--white-color);
  font-size: 15px;
  line-height: 20px;
}

.main-content div {
  margin-bottom: 15px;
}

.main-content img {
  display: none;
}

.second-carousel {
  display: none;
}

.features {
  padding: 30px;
}

.feature-item {
  color: var(--white-color);
  margin-bottom: 20px;
}

.feature-item .title {
  font-size: 20px;
  margin-bottom: 10px;
  line-height: 30px;
}

.feature-item .text {
  font-size: 15px;
  line-height: 20px;
}

.features .date {
  display: none;
}

.third-hero {
  height: 70vh;
  background-image: url("./assets/images/Mask\ Group\ 2.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--white-color);
  display: flex;
  align-items: flex-end;
}

.third-hero .wrapper {
  margin-left: 30px;
  margin-bottom: 30px;
}

.third-hero .subtitle {
  font-size: 20px;
  line-height: 30px;
}

.third-hero .title {
  font-size: 46px;
  line-height: 50px;
  margin-bottom: 15px;
}

.third-hero .text {
  font-size: 15px;
  line-height: 20px;
  max-width: 400px;
}

.footer {
  padding: 30px;
  color: var(--white-color);
}

.footer-item {
  margin-bottom: 20px;
}

.footer-item .title {
  color: #0d4363;
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-item li {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 8px;
}

.footer-item .text {
  font-size: 12px;
  font-family: Helvetica, sans-serif;
  color: #5c5b61;
  line-height: 22px;
}

.footer-item.contact {
  display: none;
}

@media (min-width: 768px) {
  .hamburger-menu {
    padding: 65px 46px 65px 48px;
  }

  .hamburger-menu div,
  .hamburger-menu div::before,
  .hamburger-menu div::after {
    width: 34px;
  }

  .hero {
    height: 100vh;
  }

  .hero .left {
    top: -80px;
    left: calc(-100vh + 80px);
    width: 100vh;
    height: 80px;
  }

  .hero .right {
    top: -145px;
    left: 80px;
    height: calc(100vh + 145px);
    width: calc(100% - 80px);
  }

  .hero .right .date {
    display: none;
  }

  .hero-box-second,
  .hero-box-first {
    margin-left: 53px;
  }

  .hero .right .hero-box {
    color: #ffffff;
    width: 80%;
  }

  .hero .right .hero-box-first h3 {
    font-size: 132px;
    line-height: 115px;
  }

  .hero .right .hero-box-second h4 {
    margin-top: 30px;
  }

  .hero .right .hero-box-second div {
    margin-top: 15px;
  }

  .slide {
    width: 644px;
  }

  .slide .top .favor {
    right: 38.5px;
    bottom: 27.6px;
    font-size: 21px;
  }

  /* .slide .bottom {
    height: 448px;
  } */

  .slide .card-header {
    padding: 63px 66.4px 57px 68px;
  }

  .slide .card-header div {
    font-size: 42.5px;
  }

  .slide .card-header p {
    font-size: 22px;
    line-height: 41px;
  }

  .slide .card-footer {
    height: 106px;
  }

  .slide .card-footer .dots {
    width: 120px;
  }

  .slide .card-footer .comment {
    font-size: 20.5px;
    line-height: 68px;
  }

  .second-hero .right {
    height: 100vh;
  }

  .second-hero .right .hero-box-first {
    max-width: unset;
  }

  .second-hero .right .hero-box-first h3 {
    font-size: 132px;
    line-height: 115px;
  }

  .second-hero .hero-box-second div {
    font-size: 16px;
  }

  .second-hero .right .hero-box-first span {
    font-size: 40px;
    border-width: 7px;
    padding: 0;
    width: 119px;
    height: 119px;
  }

  .main-content {
    padding: 87px 75px;
    color: var(--white-color);
    font-size: 18px;
    line-height: 25px;
  }

  .features {
    padding: 0 75px 0 75px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .feature-item {
    width: 45%;
  }

  .feature-item .title {
    font-size: 24px;
    line-height: 54px;
  }

  .feature-item .text {
    font-size: 13px;
    line-height: 25px;
  }

  .third-hero .wrapper {
    margin-left: 76px;
    margin-bottom: 50px;
  }

  .third-hero .subtitle {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .third-hero .title {
    font-size: 72px;
    margin-bottom: 40px;
  }

  .third-hero .text {
    font-size: 16px;
  }

  .footer {
    padding-left: 83px;
    padding-top: 75px;
    padding-right: 85px;
  }

  .footer .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .footer-item {
    width: 45%;
  }

  .footer-item:last-child {
    width: 100%;
    margin-top: 70px;
  }

  nav ul {
    height: calc(100vh + 145px);
    left: 128px;
  }

  nav li {
    margin-bottom: 50px;
  }
}

@media (min-width: 1024px) {
  .hamburger-menu {
    padding: 45px 27px;
  }

  .hamburger-menu div,
  .hamburger-menu div::before,
  .hamburger-menu div::after {
    width: 26px;
  }

  .hero .right {
    top: -105px;
    height: calc(100vh + 105px);
    width: calc(100% - 80px);
  }

  .hero .right .date {
    display: block;
  }

  .hero .right .hero-box {
    color: var(--white-color);
    width: 80%;
  }

  .hero-box-first {
    text-align: center;
    margin: 0;
  }

  .hero-box-first h3 {
    max-width: 1050px;
    margin: auto;
  }

  .hero-box-first span {
    position: absolute;
    font-weight: 400;
    font-size: 40px;
    font-family: sans-serif;
    line-height: 102px;
    border: 7px solid var(--white-color);
    border-radius: 50%;
    padding: 0px 10px;
    left: 50%;
    transform: translateX(-50%) rotate(-10deg) translateY(-50%);
    top: 50%;
    text-transform: lowercase;
  }

  .hero-box-second {
    margin-left: 130px;
    position: absolute;
    bottom: 10%;
  }

  .carousel-container {
    position: relative;
    overflow: hidden;
  }

  .slides {
    margin: 0 40px;
    transition: all 0.3s linear;
  }

  .slide {
    width: 379px;
  }

  .slide .card-header {
    padding: 37px 37px 51px 40px;
  }

  .slide .top .favor {
    right: 23px;
    bottom: 16px;
    font-size: 12px;
  }

  .slide .top .favor img {
    width: 10px;
  }

  .slide .card-header div {
    font-size: 25px;
  }

  .slide .card-header p {
    font-size: 13px;
    line-height: 24px;
  }

  .slide .card-footer .comment {
    font-size: 12px;
    line-height: 40px;
  }

  .slide .card-footer {
    height: 62px;
  }

  .slide .card-footer .dots {
    width: 70px;
  }

  .slide .card-footer .comment img {
    width: 19px;
  }

  .previous,
  .next {
    display: block;
    position: absolute;
    top: 35%;
    cursor: pointer;
  }

  .previous {
    left: 10px;
  }

  .next {
    right: 10px;
  }

  .first-carousel {
    position: relative;
  }

  .first-carousel .carousel-header {
    color: var(--white-color);
    font-size: 18px;
    line-height: 40px;
    display: block;
    padding-top: 58px;
    margin-left: 211px;
  }

  .first-carousel .background {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: -1;
    height: 100%;
    width: 50%;
    object-fit: cover;
  }

  .second-hero {
    position: relative;
    height: 100vh;
  }

  .second-hero .left {
    z-index: -1;
  }

  .second-hero .right {
    position: absolute;
    left: 80px;
    right: 0;
    z-index: 1;
  }

  .second-hero .left {
    color: var(--white-color);
    transform: rotate(-90deg);
    transform-origin: bottom right;
    position: absolute;
    top: -80px;
    left: calc(-100vh + 80px);
    background-color: var(--main-color);
    width: 100vh;
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: center;
  }

  .second-hero .hero-box-second .wrapper {
    margin-left: 130px;
  }

  .second-hero .left .background {
    left: 105px;
    position: absolute;
    z-index: -1;
    right: 0;
  }

  .second-hero .left .text:nth-last-of-type(2) {
    margin: 0;
  }

  .second-hero .right img {
    display: block;
    width: 7px;
    position: absolute;
    right: 100px;
    bottom: 8%;
  }

  .second-hero .date {
    display: block;
    position: absolute;
    right: 100px;
    bottom: 5%;
  }

  .second-hero .left {
    justify-content: flex-start;
  }

  .second-hero .left img {
    margin-left: 48px;
    margin-right: 90px;
    transform: rotate(90deg);
  }

  .main-content {
    padding: 81px 10px 0px 209px;
    color: var(--white-color);
    font-size: 13px;
    line-height: 25px;
    display: flex;
    position: relative;
  }

  .main-content .left,
  .main-content .right {
    flex: 1;
    max-width: 520px;
  }

  .main-content .left {
    margin-right: 20px;
  }

  .main-content .date {
    position: absolute;
    left: 0;
    top: 50%;
    transform: rotate(-90deg) translateX(50%);
    font-size: 12px;
    font-weight: 400;
    color: #b5bbc4;
  }

  .main-content img {
    display: block;
    position: absolute;
  }

  .main-content img {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 745px;
    height: 950px;
  }

  .second-hero .hero-box-second .wrapper {
    text-align: left;
  }

  .second-carousel {
    display: block;
  }

  .third-hero {
    align-items: center;
  }

  .third-hero .wrapper {
    margin-bottom: 0;
    margin-left: 60%;
  }

  .third-hero .subtitle {
    font-size: 16px;
  }

  .third-hero .title {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .third-hero .text {
    font-size: 13px;
  }

  .footer {
    padding-left: 210px;
  }

  .footer-item.contact {
    display: block;
  }

  .footer-item li {
    font-size: 12px;
    line-height: 24px;
  }

  .footer .title {
    font-size: 11px;
    line-height: 12px;
  }

  .footer .footer-item:first-child {
    width: 35%;
  }

  .footer .footer-item {
    width: 20%;
  }

  .footer .footer-item:last-child {
    width: 80%;
  }

  .footer .wrapper {
    max-width: 710px;
  }

  .features {
    padding-bottom: 30px;
  }

  nav ul {
    left: 80px;
  }

  .hero .right > img {
    display: block;
  }
}

@media (min-width: 1200px) {
  .hero .dots {
    right: 50%;
    bottom: 18%;
  }

  .second-hero .dots {
    right: 50%;
    bottom: 100px;
    display: block;
  }

  .features {
    max-width: 1250px;
    padding-left: 210px;
    padding-right: 10px;
    padding-top: 80px;
    position: relative;
  }

  .feature-item {
    width: 23%;
  }

  .features .date {
    color: var(--white-color);
    position: absolute;
    transform: rotate(-90deg);
    left: -30px;
    top: 50%;
    font-size: 12px;
    color: #b5bbc4;
    display: block;
  }

  .features span {
    color: #707070;
  }
}
