body {
  margin: 0;
  padding: 0;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
#direction,
#home,
input,
#dropdown,
#toDropdown,
#fromDropdown {
  position: fixed;
  padding: 8px 20px;
  font-size: 16px;
  background: white;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#dropdown {
  padding: 0;
  top: 90px;
  left: 10px;
  overflow: scroll;
  width: 38vh;
  z-index: 1;
  overflow: auto;
}

#toDropdown {
  right: 10px;
  top: 130px;
  width: 38vh;
  z-index: 1;
  overflow: auto;
  padding: 0;
}

#fromDropdown {
  right: 10px;
  top: 90px;
  width: 38vh;
  z-index: 1;
  overflow: auto;
  padding: 0;
}

#dropdown p,
#toDropdown p,
#fromDropdown p {
  margin-left: 0px;
  padding: 8px 8px;
}

#dropdown p:hover {
  background-color: #8080802b;
}

#home {
  top: 10px;
  left: 10px;
}

#direction {
  right: 10px;
  top: 10px;
  left: auto;
}
#customPopup {
  position: fixed;
  width: 300px;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
}
#searchInput {
  top: 50px;
  left: 10px;
}

#fromInput {
  right: 10px;
  top: 50px;
  display: none;
}

#toInput {
  right: 10px;
  top: 90px;
  display: none;
}

#instructions {
  position: absolute;
  margin: 20px;
  width: 25%;
  top: 0;
  bottom: 20%;
  padding: 20px;
  background-color: #fff;
  overflow-y: scroll;
  font-family: sans-serif;
}